<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<h1> <%= header %> </h1>
	<nav>
		<a href="/"> Inicio </a>
		<a href="/author">  Créditos </a>
	</nav>

	<h2> Autor </h2>
	<p>Alejandro Gómez Molina </p>

	<img src="/images/foto.jpg" alt="imagen">
</body>
</html>