<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Alejandro Gómez Molina y Alberto Fernández. Como no teníamos una foto juntos, aqui les dejamos un gato pensando en nuestro Quiz.
</p>

<p> Les invitamos a comprobar nuestro codigo en cualquiera de las dos cuentas privadas de GitHub: <a href="https://github.com/Alejo2313/quiz_2017">Alejo</a> ó <a href="https://github.com/afibeto/quiz_2017">Alber</a>
</p>

<img src="/images/gato.jpg" />

