
<h1>
    Ayuda
</h1>

<div>
    Bienvenido a nuestro juego: QUIZ.

</div>

<div>
    La dinámica de este juego es simple: contestar correctamente a las preguntas que les proponemos.

    El objetivo: contestar al máximo numero de preguntas posible de manera correcta.

    Tenemos muchas sorpresas preparadas... ¿¡Serás capaz de pasarte el juego como un campeón?!

</div>