<!DOCTYPE html>
<html>
<head>
	<title>Preguntas</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
<div class="container">	



	<header class="header">
			<h1> Quiz: el juego de las preguntas. </h1>
	</header>



	<div class="rowBox">
		<nav class="colNav">
			<a href="/" class="item"> Inicio </a>
			<a href="/author" class="item">  Créditos </a>
		</nav>

		<div class="main">
			<%- body %>
		</div>
		
	</div>


	<footer>
		<p> by ALEJO </p>
	</footer>



</div>

</body>
</html>