<!DOCTYPE html>
<html>
<head>
	<title>Preguntas</title>
</head>
<body>
	<h1> Quiz: el juego de las preguntas. </h1>

<div class="container">	
	<nav class="rowNav">
		<a href="/"> Inicio </a>
		<a href="/author">  Créditos </a>
	</nav>
	<div>
		<%- body %>
	<div>
</div>

</body>
</html>