.container{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.colNav{
	display: flex;
	flex-direction: column;
	padding: 5px;
	flex-basis: 20%;
}


.rowBox{
	display: flex;
	flex-direction: row;
	height: 100%;
	border: 
}
.item{
	text-decoration: none;
	background-color: grey;
	text-align: center;
	padding: 5px 5px 5px 5px;
	color: black;
	margin: 2px 2px 2px 2px;
}
.colNav > a:hover{
	background-color: coral;
}
.header{
  height: 100%;
	text-align: center;
	padding: 20px;

}
.main{
	flex-basis: 80%;
	padding: 20px;
}
.container > div{
	flex: 5;
	margin-left: 5px;
	padding: 30px;
}
 .rowBox > *{
 	border-style: ridge;

 }
 #me{

 	width: 150px;
 }